{% extends "base.html" %}
{% block content %}

	<main>
		<div class="album py-5 bg-light">
			<div class="container">
				<h2>구매한 주문 목록</h2>
				<hr>
				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
					{% for order in orders %}
					<div class="col">
						<div class="card shadow-sm">
							<img src="{{order['product']['thumbnail_img']}}" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="">
							<div class="card-body">
								<h4 class="card-text">{{order['product']['name']}}</h4>
								<p class="card-text">{{order['product']['price']}} 원</p>
								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<a href="/orders/{{order['_id']}}" class="btn btn-sm btn-outline-primary">View</a>
									</div>
									<small class="text-muted">9 mins</small>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</main>
	<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}